/*common*/
@import url('https://fonts.googleapis.com/css?family=Concert+One');



/* navbar */
.navbar{
    background-color: pink;
}





/* slider */
.slider{
    width: 800px;
    margin: 100px auto;
}
.carousel-inner{
    border: 10px solid pink;
}
/* download */
.btn{
    width: 200px;
    margin: 0px auto 90px auto;
    background-color: pink;
    border:0;
}
.download{
    margin: auto auto auto 40px;
}

.copyright{
    background-color: pink;

}
.news{
    width: 1500px;
    height: 800px;
    border: 20px solid pink;
    margin: 50px auto;
}

.login{

}

.card{
    margin: 100px auto;
    border: 10px solid pink;
    border-radius: 10%;
}



#registerPageHr{
    border: 2px solid pink;
    border-radius: 5px;
}



@media screen and (max-width: 650px){
    .focus > h1{
        font-size: 50px;
    }

    .focus > h2{
        font-size: 30px;
    }
    .main{
        padding: 70px 50px 100px 50px;
    }
}

/* < 400 */
@media screen and (max-width: 450px){
    .main{
        padding: 70px 50px 200px 50px;
    }
}
